div {
    font-family: sans-serif !important;
    background-color: blue;
    max-width: 500px;
    max-height: 400px;
    margin: 40px;
    border: 10px solid blueviolet;
    text-align: center;
}

intractito {
    font-family: 'Segoe UI' !important;
    background-color: aqua;
    max-width: 100px;
    max-height: 70px;
    margin: 40px;
    text-align: center;
}